.move-left {
    animation: move-left .7s ease-in-out 1 normal 0s forwards;
}

@keyframes move-left {
    from {
        left: 0%
    }
    to {
        left: -100%
    }
}

.move-right {
    animation: move-right .7s ease-in-out 1 normal 0s forwards;
}

@keyframes move-right {
    from {
        left: 0%
    }
    to {
        left: -100%
    }
}